/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --font-family-blog: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1.15rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --fontSize-opt: 22px;
  --color-primary: #fff;
  --color-text: #ffffee;
  --color-text-light: #f1f1f1;
  --color-text-dark: #000111;
  --color-heading: #e0ece4;
  --color-heading-title: #fff;
  --color-accent: #d1dce5;
  --color-background: #320d1f;
  --color-background-darker: #320000;
  --color-background-crimson: crimson;
  --color-debug: red;
  --color-dark-orange: darkorange;
  --color-darkslate-blue: #3d2f88;
  --color-pallete-crimson: crimson;
  --color-pallete-darker-purple: #1b0326;
  --color-pallete-wine: #7a1c4b;
  --color-pallete-light: #f1f1f1;
  --color-pallete-light-grenn: #e0ece4;
  --color-pallete-light-greyin-title: #d1dce5;
  --color-pallete-background-color: #320d1f;
  /* --color-text: blue; */
}

/* HTML elements */
.canvas-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
}
*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	padding: 60px 15px;
	transition: transform 0.25s;
	will-change: transform;
	

}
.scroll h2 {
  text-align: center;
  font-size: 8rem;
  margin: 40px auto;
  @media (max-width: 480px) {
    font-size: 6rem;
  }
}
h2 .outline {
  -webkit-text-stroke: 1px crimson;
  -webkit-text-fill-color: #320d1f;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background-color: var(--color-background);
  background-image: url("../static/frames.svg");
  background-position: calc(100% - 87px);
  margin: 0; 
  padding: 0;
  overscroll-behavior-y: none;
}

footer {
  padding: var(--spacing-4) var(--spacing-0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-text-light);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  /* color: inherit; */
  text-decoration: none;
  cursor: unset;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  /* color: inherit; */
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-6);
  /* padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6); */
  /*border-left: var(--spacing-1) solid var(--color-primary); */
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
  text-align: center;
  background: #320d1f;
  border-radius: 9px;
  box-shadow: 1px 2px 10px darkorange;
  padding-top: 12px;
  padding-bottom: 12px;
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
  cursor: inherit;
  color: var(--color-dark-orange);
}
a {
  color: var(--color-pallete-wine);
}

.demo-icon {
  color: var(--color-pallete-light);
  padding: var(--spacing-5) var(--spacing-5);
  border: 1px solid var(--color-pallete-darker-purple);
  border-radius: 2px;
}
.demo-icon:hover {
  color: var(--color-pallete-darker-purple);
  border: 1px solid var(--color-pallete-light);
  border-radius: 15px;
}
/* Custom classes */

.global-wrapper {
  margin: var(--spacing-2) auto;
  /* max-width: var(--maxWidth-wrapper); */
  max-width: 1200px;
  padding: var(--spacing-5) var(--spacing-5);
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
  color: var(--color-heading-title);
}
/* each article is an item on the list */
.post-list-item {
  /* background: repeating-linear-gradient(45deg, black, transparent 100px); */
  background: rgba(255,0,155,0.2);
  
  margin-bottom: var(--spacing-8);
  border: 1px solid crimson;
  box-shadow: -4px 13px 12px crimson;
  border-radius: 50px;
  padding: 67px 35px;
  margin-top: var(--spacing-20);
  max-width: 700px;
  transition: all 0.2s linear;
}
.experimental-webgl-btn {
  text-decoration: none;
  color: var(--color-pallete-wine);
  background: repeating-linear-gradient(-204deg, #1b0326, transparent 73px);
  border-radius: 41px;
  padding: 11px 51px;
  box-shadow: 1px 3px 12px white;
}
.experimental-webgl-btn:hover {
  color: var(--color-pallete-light);
}

.background-modify-y {
  /* background: rgba(255,0,155,0.2);
   */
  background: repeating-linear-gradient(45deg, black, transparent 100px);
}
.post-list-item:hover {
  cursor: inherit;
  background-color: crimson;
  transform: scale(1.02);
}
.post-list-item:nth-child(0) {
  background: blue;
}

/* etc */
.post-list-item p {
  margin-bottom: var(--spacing-0);
  color: var(--color-text-light);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.post-list-item small {
  color: #fff;
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-4);
  margin-top: var(--spacing-4);
}

.bio p {
  margin-bottom: var(--spacing-0);
  margin-top: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}
.blog-post p {
  font-size: var(--fontSize-opt);
}
.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
  color: var(--color-dark-orange);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

/* 404 Page */

article.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}

@media (max-width: 349px) {
  body {
    background-position-x: 269px;
  }
  .bio {
    flex-direction: column;
    align-items: center;
  }
  .bio bio-avatar {
    margin-bottom: 12px;
  }
  .main-heading {
    font-size: 46px;
  }
}

/* custom technologies badges */
.tech-badges {
  display: flex;
  padding: var(--spacing-4) var(--spacing-0);
}
.tech-badges > div {
  padding: var(--spacing-0) var(--spacing-2);
}

/* custom designed scrollbar */
/* width */
::-webkit-scrollbar {
  width: 9.6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.88);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(91, 10, 56, 0.4);
  border-radius: 2px;
  height: 100px;
  width: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(91, 10, 56, 1);;
}

/*
  custom cursor try out
*/
.app-cursor {
  z-index: 1000;
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  border: 1px solid black;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0,0,0);
  position: fixed;
}


/* labs & layout */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%; width: 100%;
}
/* Home page */
.buttons {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}
.buttons a {
  text-decoration: none;
}

.content-links {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  list-style: none;
}
.content-links li a {
  color: var(--color-pallete-light);
}

.article-container-title {
  width: 250px;
  height: 250px;
}
/* home intro - picture and text - about me */
.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.avatar-intro {
  margin-top: 0;
  margin-bottom: 22px;
  max-width: 500px;
  text-align: justify;
}


/* scroll skew effects */
.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  padding-top: 22px;
}

.scroll {
  padding: 2vh 0;
  pointer-events: none;
}
.scroll .img-container {
  width: 700px;
  height: 420px;
  overflow: hidden;
  position: relative;
  margin: 400px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-skew-img-container {
  padding-top: var(--spacing-2);
  box-shadow: 1px 3px 7px #000e1e;

}
.scroll .img-container img {
    width: 100%;
    position: absolute;
}
/* image on skew */
.skew-navigation {
  z-index: 2;
  padding: var(--spacing-2) var(--spacing-2);
  background-color: rgba(91, 10, 56, 0.2);
  height: 65px;
}
.skew-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.typograph {
  text-decoration: none;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.typograph:hover {
  border-bottom: 1px solid var(--color-pallete-wine);
}
.skew-navigation ul li a.icons {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  text-align: center;
}
.skew-navigation ul li a.first:hover {
  background-color: red;
}
.skew-navigation ul li a.second:hover {
  background-color: green;
}
.skew-navigation ul li a.third:hover {
  background-color: blue;
}
.logo {
  font-size: 2.5rem;
  font-family: var(--fontFamily-sans);
  text-decoration: none;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.logo:hover, .logo:focus {
  transform: scale(1.1);
}
.img-container {
  width: 700px;
  height: 420px;
  overflow: hidden;
  position: relative;
  margin: 400px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img {
    width: 100%;
    position: absolute;
}
.img-container:first-child {
  margin-top: 20px;
}

.text-blur-out {
	-webkit-animation: text-blur-out 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate-reverse backwards;
	        animation: text-blur-out 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate-reverse backwards;
}

.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 4s linear 1s both;
	        animation: text-flicker-in-glow 4s linear 1s both;
}
.project-description {
  text-align: justify;
  line-height: 1.6;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-5-14 20:18:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2021-5-14 20:11:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}


/* js */
/* skew scrolling react */
.article-scroll {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#scroller {

}
/* end skew scrolling react */

.article-ref {
  transition: opacity .6s ease-out;
}

.article-link {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 33px 0 38px;
  border-bottom: 1px solid #404040;
}
.article-link .outline {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: #320d1f;
}
.article-link .outline-fill {
  -webkit-text-stroke: 0.5px var(--color-pallete-background-color);;
  -webkit-text-fill-color: white;
}
.article-link .outline-reverse {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: var(--color-pallete-background-color);
}
.article-ph {
  position: relative;
  flex-shrink: 0;
  width: 18.75vw;
  padding-left: 1em;
  color: #e5e5e5;
  font-size: 12px;
  letter-spacing: .14em;
}